## Primero instalamos el xlrd para que VSC lea el excel antiguo

In [24]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\bmendi\appdata\local\programs\python\python312\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
#cargamos pandas y el excel
import pandas as pd
df = pd.read_excel("GSAF5.xls", engine="xlrd")

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
#tama√±o
df.shape

(7012, 23)

Es un excel con 7012 filas y 23 columnas

In [4]:
#nombres de columnas
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

Tendremos que limpiar y mejorar los nombres de las columnas

In [5]:
#ver tipos de datos
df.dtypes

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Fatal Y/N          object
Time               object
Species            object
Source             object
pdf                object
href formula       object
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object
dtype: object

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,7010.0,1935.271327,271.735460,0.0,1947.0,1986.0,2009.0,2026.0
original order,6799.0,3401.152081,1963.076319,2.0,1701.5,3401.0,5100.5,6802.0

In [7]:
df.describe(include= "object")

,Date,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,Unnamed: 21,Unnamed: 22
count,7012,6994,6962,6527,6446,6427,6793,6433,4018,6977,6451,3486,3881,6993,6799,6794,6796,6798,6797,1,2
unique,6057,12,242,926,4570,1604,5742,10,249,4139,12,444,1712,5356,6789,6784,6776,6777,6775,1,2
top,1957,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,FATAL,N,Afternoon,White shark,"K. McMurray, TrackingSharks.com",1935.06.05.R-SolomonIslands.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.10.05,2021.07.04,stopped here,Teramo
freq,9,5170,2558,1186,191,1133,679,5624,92,863,4883,215,194,131,2,2,4,2,2,1,1

In [8]:
df.head(3)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-04-19 00:00:00,2025.0,Unprovoked,Maldives,Kulhudhuffushi City,Haa Dhaalu atoll,snorkeling,Unknown Male,M,30,Injuries to right shoulder,N,Not stated,Not stated,Todd Smith: The edition: https://en.sun.mv/96031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-04-12 00:00:00,2025.0,Unprovoked,USA,Florida,Everglades National Park Flamingo Lodge Highwa...,Undisclosed,Unknown Male,M,?,Injuries to right hand and arm,N,1500hrs,Not stated,Kevin McMurray Trackingsharks.com: Florida New...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-03-26 00:00:00,2025.0,Unprovoked,Australia,WA,Sandtrax Port Beach North Fremantle Perth,Swimming,Unknown Male,M,30+,Bumping to the body,N,1430hrs,1.5m Tiger shark,Kevin McMurray Trackingsharks.com: www.surfer....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#ver por columnas la cantidad valores nulos
df.isna().sum()

Date                 0
Year                 2
Type                18
Country             50
State              485
Location           566
Activity           585
Name               219
Sex                579
Age               2994
Injury              35
Fatal Y/N          561
Time              3526
Species           3131
Source              19
pdf                213
href formula       218
href               216
Case Number        214
Case Number.1      215
original order     213
Unnamed: 21       7011
Unnamed: 22       7010
dtype: int64

no hay ninguna columna completamente vacia, unnamed: 21 tiene 2 y unnamed: 22 tene 3

In [10]:
#eliminar columnas completamente vac√≠as
df.dropna(axis=1, how='all', inplace=True)

In [11]:
#eliminar filas completamente vac√≠as
df.dropna(axis=0, how='all', inplace=True)

In [12]:
#empiezo con columnas, en str, minusculas y reemplazando espacio por _
df.columns = (df.columns.str.strip().str.lower().str.replace(" ", "_"))

In [13]:
df.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'fatal_y/n', 'time', 'species',
       'source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1',
       'original_order', 'unnamed:_21', 'unnamed:_22'],
      dtype='object')

In [14]:
df.nunique()

date              6057
year               261
type                12
country            242
state              926
location          4570
activity          1604
name              5742
sex                 10
age                249
injury            4139
fatal_y/n           12
time               444
species           1712
source            5356
pdf               6789
href_formula      6784
href              6776
case_number       6777
case_number.1     6775
original_order    6797
unnamed:_21          1
unnamed:_22          2
dtype: int64

In [15]:
df.duplicated().sum()

np.int64(0)

In [16]:
df.duplicated().any()

np.False_

In [17]:
df = df.drop(['location', 'source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1', 'original_order', 'unnamed:_21', 'unnamed:_22'], axis=1)

In [18]:
df.columns

Index(['date', 'year', 'type', 'country', 'state', 'activity', 'name', 'sex',
       'age', 'injury', 'fatal_y/n', 'time', 'species'],
      dtype='object')

In [19]:
df.columns = df.columns.str.replace("fatal_y/n", "fatal")

In [20]:
df.columns

Index(['date', 'year', 'type', 'country', 'state', 'activity', 'name', 'sex',
       'age', 'injury', 'fatal', 'time', 'species'],
      dtype='object')

In [21]:
df['sex'].unique()

array(['M', 'F ', 'F', 'M ', nan, ' M', 'm', 'lli', 'M x 2', 'N', '.'],
      dtype=object)

In [22]:
df['sex'] = df['sex'].map({'F ': 'F','F': 'F', '.': "F", 'M': 'M', 'M ': 'M', ' M': 'M', 'm': 'M', 'lli': 'M', 'M x 2': 'M', 'N': 'M'})
df['sex'].unique()

array(['M', 'F', nan], dtype=object)

In [23]:
#hay columnas que no nos importa