# Analisis de datos (AcuaVentura)

### Instalaciones y importaciones necesarias

In [948]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\rocio\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [949]:
import numpy as np
import pandas as pd
df = pd.read_excel("GSAF5.xls", engine="xlrd")

In [950]:
pd.set_option('display.max_columns', None)

In [951]:
#tamaño
df.shape

(7012, 23)

Es un excel con 7012 filas y 23 columnas

In [952]:
#nombres de columnas
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

Tendremos que limpiar y mejorar los nombres de las columnas

In [953]:
#ver tipos de datos
df.dtypes

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Fatal Y/N          object
Time               object
Species            object
Source             object
pdf                object
href formula       object
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object
dtype: object

In [954]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,7010.0,1935.271327,271.735460,0.0,1947.0,1986.0,2009.0,2026.0
original order,6799.0,3401.152081,1963.076319,2.0,1701.5,3401.0,5100.5,6802.0

In [955]:
df.describe(include= "object")

,Date,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,Unnamed: 21,Unnamed: 22
count,7012,6994,6962,6527,6446,6427,6793,6433,4018,6977,6451,3486,3881,6993,6799,6794,6796,6798,6797,1,2
unique,6057,12,242,926,4570,1604,5742,10,249,4139,12,444,1712,5356,6789,6784,6776,6777,6775,1,2
top,1957,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,FATAL,N,Afternoon,White shark,"K. McMurray, TrackingSharks.com",1907.10.16.R-HongKong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.07.23,2012.09.02.b,stopped here,Teramo
freq,9,5170,2558,1186,191,1133,679,5624,92,863,4883,215,194,131,2,2,4,2,2,1,1

In [956]:
df.head(3)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-04-19 00:00:00,2025.0,Unprovoked,Maldives,Kulhudhuffushi City,Haa Dhaalu atoll,snorkeling,Unknown Male,M,30,Injuries to right shoulder,N,Not stated,Not stated,Todd Smith: The edition: https://en.sun.mv/96031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-04-12 00:00:00,2025.0,Unprovoked,USA,Florida,Everglades National Park Flamingo Lodge Highwa...,Undisclosed,Unknown Male,M,?,Injuries to right hand and arm,N,1500hrs,Not stated,Kevin McMurray Trackingsharks.com: Florida New...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-03-26 00:00:00,2025.0,Unprovoked,Australia,WA,Sandtrax Port Beach North Fremantle Perth,Swimming,Unknown Male,M,30+,Bumping to the body,N,1430hrs,1.5m Tiger shark,Kevin McMurray Trackingsharks.com: www.surfer....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [957]:
#ver por columnas la cantidad valores nulos
df.isna().sum()

Date                 0
Year                 2
Type                18
Country             50
State              485
Location           566
Activity           585
Name               219
Sex                579
Age               2994
Injury              35
Fatal Y/N          561
Time              3526
Species           3131
Source              19
pdf                213
href formula       218
href               216
Case Number        214
Case Number.1      215
original order     213
Unnamed: 21       7011
Unnamed: 22       7010
dtype: int64

no hay ninguna columna completamente vacia, unnamed: 21 tiene 2 y unnamed: 22 tene 3

In [958]:
#eliminar columnas completamente vacías
df.dropna(axis=1, how='all', inplace=True)

In [959]:
#eliminar filas completamente vacías
df.dropna(axis=0, how='all', inplace=True)

In [960]:
#empiezo con columnas, en str, minusculas y reemplazando espacio por _
df.columns = (df.columns.str.strip().str.lower().str.replace(" ", "_"))

In [961]:
df.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'fatal_y/n', 'time', 'species',
       'source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1',
       'original_order', 'unnamed:_21', 'unnamed:_22'],
      dtype='object')

In [962]:
df.nunique()

date              6057
year               261
type                12
country            242
state              926
location          4570
activity          1604
name              5742
sex                 10
age                249
injury            4139
fatal_y/n           12
time               444
species           1712
source            5356
pdf               6789
href_formula      6784
href              6776
case_number       6777
case_number.1     6775
original_order    6797
unnamed:_21          1
unnamed:_22          2
dtype: int64

In [963]:
df.duplicated().sum()

0

In [964]:
df.duplicated().any()

False

In [965]:
df = df.drop(['location','state','source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1', 'original_order', 'unnamed:_21', 'unnamed:_22'], axis=1)

In [966]:
df.columns

Index(['date', 'year', 'type', 'country', 'activity', 'name', 'sex', 'age',
       'injury', 'fatal_y/n', 'time', 'species'],
      dtype='object')

In [967]:
df.columns = df.columns.str.replace("fatal_y/n", "fatal")

In [968]:
df.columns

Index(['date', 'year', 'type', 'country', 'activity', 'name', 'sex', 'age',
       'injury', 'fatal', 'time', 'species'],
      dtype='object')

In [969]:
df['sex'].unique()

array(['M', 'F ', 'F', 'M ', nan, ' M', 'm', 'lli', 'M x 2', 'N', '.'],
      dtype=object)

In [970]:
#limpiando sex
df['sex'] = df['sex'].map({'F ': 'F','F': 'F', '.': "F", 'M': 'M', 'M ': 'M', ' M': 'M', 'm': 'M', 'lli': 'M', 'M x 2': 'M', 'N': 'M'})
df['sex'].unique()

array(['M', 'F', nan], dtype=object)

## Borja

In [971]:

df['country'] = df['country'].astype(str).str.strip().str.lower()

# 3. Mapeo específico para los países que aparecen en tu dataset
mapeo_paises = {
    # --- UNITED STATES ---
    'usa': 'united states',
    'hawaii': 'united states',
    'johnston island': 'united states',
    'guam': 'united states',
    'puerto rico': 'united states',
    'northern mariana islands': 'united states',
    'johnston atoll': 'united states',
    'american samoa': 'united states',

    # --- UNITED KINGDOM ---
    'england': 'united kingdom',
    'scotland': 'united kingdom',
    'british isles': 'united kingdom',
    'saint helena': 'united kingdom',
    'cayman islands': 'united kingdom',
    'turks and caicos islands': 'united kingdom',
    'british indian ocean territory': 'united kingdom',
    'british virgin islands': 'united kingdom',
    'bermuda': 'united kingdom',
    'british overseas territory': 'united kingdom',
    'falkland islands': 'united kingdom',

    # --- FRANCE ---
    'reunion': 'france',
    'reunion island': 'france',
    'new caledonia': 'france',
    'french polynesia': 'france',
    'mayotte': 'france',
    'martinique': 'france',
    'saint martin': 'france',

    # --- NETHERLANDS ---
    'aruba': 'netherlands',
    'curacao': 'netherlands',
    'netherlands antilles': 'netherlands',

    # --- PORTUGAL ---
    'azores': 'portugal',

    # --- SPAIN ---
    # (nada a mapear en este caso específico)

    # --- INDIA ---
    'andaman islands': 'india',
    'andaman / nicobar islandas': 'india',
    'indian ocean?': 'india',
    'west indies': None,  # También lo usaban para el Caribe

    # --- SRI LANKA ---
    'ceylon': 'sri lanka',
    'ceylon (sri lanka)': 'sri lanka',

    # --- SAMOA ---
    'western samoa': 'samoa',

    # --- JAPAN ---
    'okinawa': 'japan',

    # --- SOUTH KOREA ---
    'korea': 'south korea',

    # --- PALESTINE ---
    'palestinian territories': 'palestine',
    'palestine': 'palestine',

    # --- BRAZIL ---
    # (nada a mapear)

    # --- COLOMBIA ---
    'columbia': 'colombia',

    # --- TRINIDAD & TOBAGO ---
    'trinidad': 'trinidad and tobago',
    'tobago': 'trinidad and tobago',
    'trinidad & tobago': 'trinidad and tobago',

    # --- HONDURAS ---
    'roatan': 'honduras',

    # --- CABO VERDE ---
    'cape verde': 'cabo verde',

    # --- MYANMAR ---
    'burma': 'myanmar',

    # --- BAHRAIN ---
    'bahrein': 'bahrain',

    # --- MICRONESIA ---
    'federated states of micronesia': 'micronesia',

    # --- PAPUA NEW GUINEA ---
    'new britain': 'papua new guinea',
    'admiralty islands': 'papua new guinea',
    'british new guinea': 'papua new guinea',
    'new guinea': 'papua new guinea',

    # --- GREECE ---
    'crete': 'greece',

    # --- DENMARK ---
    'greenland': 'denmark',

    # --- CHINA ---
    'hong kong': 'china',

    # --- OCEAN / REGIONES MARÍTIMAS AMBIGUAS --- (todo esto se convierte en None)
    'pacific ocean': None,
    'atlantic ocean': None,
    'caribbean sea': None,
    'coral sea': None,
    'tasman sea': None,
    'north atlantic ocean': None,
    'north sea': None,
    'south china sea': None,
    'mid-pacifc ocean': None,
    'mid atlantic ocean': None,
    'mediterranean sea': None,
    'gulf of aden': None,
    'bay of bengal': None,
    'persian gulf': None,
    'red sea': None,
    'red sea?': None,
    'indian ocean': None,
    'indian ocean?': None,
    'south atlantic ocean': None,
    'south pacific ocean': None,
    'north pacific ocean': None,
    'central pacific': None,
    'southwest pacific ocean': None,

    # --- REGIONES GEOGRÁFICAS INDEFINIDAS ---
    'coast of africa': None,
    'africa': None,
    'the balkans': None,
    'ocean': None,
    'between portugal & india': None,
    'british west indies': None,
    'asia?': None,
    'equatorial guinea / cameroon': None,
    'egypt / israel': None,
    'iran / iraq': None,
    'italy / croatia': None,
    'solomon islands / vanuatu': None,

    # --- ISLAS O TERRITORIOS MENORES (claros) ---
    'cook islands': 'new zealand',
    'cook island': None,  # Dato suelto o error tipográfico

    # --- NULOS / INDETERMINADOS ---
    'nan': None,
    None: None,
    'maldive islands': 'maldives',
    'turks and caicos': 'turks and caicos islands',
    'turks & caicos': 'turks and caicos islands',
    'united arab emirates (uae)': 'united arab emirates',
    'st martin': 'saint martin',
    'st. martin': 'saint martin',
    'st. maartin': 'saint martin',
    'grand cayman': 'cayman islands',
    'nevis': 'saint kitts and nevis',
    'st kitts / nevis': 'saint kitts and nevis',
    'diego garcia': 'british indian ocean territory',
    'java': 'indonesia',
    'san domingo': 'dominican republic',

    # Marinos o ambiguos que deben descartarse
    'northern arabian sea': None,
    'red sea / indian ocean': None,
    'sudan?': 'sudan' 
}

# 4. Aplicar el mapeo
df['country'] = df['country'].replace(mapeo_paises)

In [972]:
df['country'].unique()

array(['maldives', 'united states', 'australia', 'philippines', 'bahamas',
       'turks and caicos islands', 'mozambique', 'france', 'egypt',
       'thailand', 'new zealand', 'honduras', 'indonesia', 'morocco',
       'jamaica', 'belize', 'trinidad and tobago', 'india',
       'south africa', 'mexico', None, 'spain', 'portugal', 'samoa',
       'colombia', 'ecuador', 'cuba', 'brazil', 'seychelles', 'argentina',
       'fiji', 'united kingdom', 'japan', 'costa rica', 'canada',
       'jordan', 'saint kitts and nevis', 'saint martin',
       'papua new guinea', 'israel', 'china', 'ireland', 'italy',
       'malaysia', 'libya', 'mauritius', 'solomon islands',
       'st helena, british overseas territory', 'comoros',
       'united arab emirates', 'cabo verde', 'dominican republic',
       'netherlands', 'greece', 'kiribati',
       'british indian ocean territory', 'taiwan', 'palestine', 'nigeria',
       'tonga', 'croatia', 'saudi arabia', 'chile', 'antigua', 'kenya',
       'russia', 'south korea', 'malta', 'vietnam', 'madagascar',
       'panama', 'somalia', 'norway', 'senegal', 'yemen', 'sierra leone',
       'cayman islands', 'liberia', 'vanuatu', 'venezuela', 'sri lanka',
       'uruguay', 'micronesia', 'tanzania', 'marshall islands',
       'el salvador', 'angola', 'montenegro', 'iran', 'tunisia',
       'namibia', 'bangladesh', 'palau', 'grenada', 'iraq', 'turkey',
       'singapore', 'sudan', 'nicaragua', 'gabon', 'guatemala',
       'slovenia', 'iceland', 'barbados', 'monaco', 'guyana', 'haiti',
       'kuwait', 'cyprus', 'myanmar', 'lebanon', 'paraguay', 'georgia',
       'syria', 'tuvalu', 'guinea', 'peru', 'algeria', 'ghana', 'denmark',
       'sweden', 'djibouti', 'bahrain'], dtype=object)

In [973]:
#limpiando activity, todas sean str, sin espacios y en minusculas
df['activity'] = df['activity'].astype(str).str.strip().str.lower()
df['activity'].nunique()

1544

In [974]:
paises_validos = [
    'spain', 'portugal', 'greece', 'croatia',
    'thailand', 'indonesia', 'philippines', 'japan', 'mexico', 'peru', 'cuba'
]
df = df[df['country'].isin(paises_validos)]

In [975]:
df['activity_clean'] = df['activity']

df.loc[df['activity'].str.contains('swim|bathing|wading|floating|playing|jump|train', na=False), 'activity_clean'] = 'swimming'
df.loc[df['activity'].str.contains('diving|snorkel', na=False), 'activity_clean'] = 'diving'
df.loc[df['activity'].str.contains('surf|kite|board|kayak|cano|rowing|padd', na=False), 'activity_clean'] = 'surf'
df.loc[df['activity'].str.contains('fish|boat', na=False), 'activity_clean'] = 'fishing'
df.loc[df['activity'].str.contains('wreck|disaster', na=False), 'activity_clean'] = 'wreck'

categorias = ['swimming', 'diving', 'surf', 'fishing', 'wreck']

In [976]:
df.loc[~df['activity_clean'].isin(categorias), 'activity_clean'] = 'other'

In [977]:
df['activity'] = df['activity_clean']

In [978]:
#limpiando injury, todas sean str, sin espacios y en minusculas
df['injury'] = df['injury'].astype(str).str.strip().str.lower()
df['injury'].nunique()

262

In [979]:
def categorize_injury(injury):
    if pd.isna(injury):
        return 'Unknown'

    injury = injury.lower()

    if 'fatal' in injury or 'died' in injury or 'death' in injury:
        return 'Fatal'
    elif 'serious' in injury or 'severed' in injury or 'critical' in injury:
        return 'Serious injury'
    elif 'no injury' in injury or 'uninjured' in injury or 'not injured' in injury or 'no' in injury:
        return 'No injury'
    elif 'minor' in injury or 'superficial' in injury or 'lower' in injury:
        return 'Minor injury'
    elif 'leg' in injury or 'foot' in injury or 'thigh' in injury or 'ankle' in injury or 'calf' in injury:
        return 'Injury to the lower trunk'
    elif 'arm' in injury or 'hand' in injury:
        return 'Injury to the upper trunk'
    elif 'lacerations' in injury or 'lacerated' in injury or 'laceration' in injury:
        return 'Laceration'
    elif 'injury' in injury or 'bitten' in injury:
        return 'Unknown type of injury'
    elif 'unknown' in injury or 'n/a' in injury:
        return 'Unknown'
    else:
        return 'Other'

df['injury'] = df['injury'].apply(categorize_injury)

In [980]:
#limpiando fatal, todas sean str, sin espacios y en mayusculas
df['fatal'] = df['fatal'].astype(str).str.strip().str.upper()
#tambien uso map para cambiar las Y a YES y N a NO
df['fatal'] = df['fatal'].map({'Y': 'Yes', 'N': 'No',})
df['fatal'].unique()

array(['Yes', 'No', nan], dtype=object)

In [981]:
#asegurarse de que todos los valores sean strings limpios
df['time'] = df['time'].astype(str).str.strip().str.upper()

#extraer solo la hora (antes de los dos puntos) o primeros 2 dígitos si es un número tipo "1530"
df['hour'] = df['time'].str.extract(r'(\d{1,2})')  # extrae 1 o 2 dígitos iniciales

#ver distribución de horas
df['hour'].value_counts().sort_index()

hour
02     1
03     1
04     1
05     1
07     6
08     3
09     2
10    11
11     8
12     6
13     6
14     9
15     9
16     5
17     7
18     5
19     4
23     2
Name: count, dtype: int64

In [982]:
# Primero aseguramos que hour es string (en caso de haberlo convertido antes a int)
df['hour'] = df['hour'].astype(str).str.zfill(2)  # asegura dos dígitos (por ejemplo, 3 → '03')

# Luego creamos una nueva columna en formato HH:00
df['hour_formatted'] = df['hour'] + ':00'

In [983]:
df['hour_formatted'].value_counts().sort_index()

hour_formatted
02:00       1
03:00       1
04:00       1
05:00       1
07:00       6
08:00       3
09:00       2
10:00      11
11:00       8
12:00       6
13:00       6
14:00       9
15:00       9
16:00       5
17:00       7
18:00       5
19:00       4
23:00       2
nan:00    332
Name: count, dtype: int64

In [984]:
df['hour'] = df['hour_formatted']

In [985]:
df = df.drop(['hour_formatted','time'], axis=1)

## Rocio

In [986]:
def limpiar_fechas(df):
    df['date'] = pd.to_datetime(df['date'], errors='coerce')
    df['month'] = df['date'].dt.month
    df['year_from_date'] = df['date'].dt.year
    df['year'] = df['year'].fillna(df['year_from_date'])
    df = df.drop(columns=['date', 'year_from_date'])

    return df
df=limpiar_fechas(df)

C:\Users\rocio\AppData\Local\Temp\ipykernel_13812\365365664.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [987]:
df.columns

Index(['year', 'type', 'country', 'activity', 'name', 'sex', 'age', 'injury',
       'fatal', 'species', 'activity_clean', 'hour', 'month'],
      dtype='object')

In [988]:
type_r = {
    ' Provoked': 'Provoked',
    'Questionable': 'Unknown',
    '?': 'Unknown',
    'Unconfirmed': 'Unknown',
    'Unverified': 'Unknown',
    'Invalid': 'Unknown',
    'Under investigation': 'Unknown',
    'Boat': 'Watercraft',
    'Sea Disaster': 'Watercraft'  
}

df['type'] = df['type'].replace(type_r)
print(df['type'].unique())

['Unknown' 'Unprovoked' 'Provoked' 'Watercraft' nan]

In [989]:
df['species'] = df['species'].str.lower().str.strip()


species_r = {
    'tiger shark': 'Tiger shark',
    "1.5m tiger shark": 'Tiger shark',
    "12' tiger shark": 'Tiger shark',
    'great white shark': 'Great white shark',
    'bull shark': 'Bull shark'
}

df['species'] = df['species'].replace(species_r)


new_species = []

for value in df['species']:
    if value == 'Tiger shark':
        new_species.append('Tiger shark')
    elif value == 'Great white shark':
        new_species.append('Great white shark')
    elif value == 'Bull shark':
        new_species.append('Bull shark')
    else:
        new_species.append('Other')


df['species'] = new_species


df['species'].unique()

array(['Other', 'Bull shark', 'Tiger shark'], dtype=object)

In [990]:
df['age'] = df['age'].astype(str).str.strip()
df['age'] = df['age'].str.replace(r'[^\d]', '', regex=True)
df['age'].unique()

array(['29', '57', '68', '22', '66', '52', '26', '59', '', '35', '17',
       '10', '53', '60', '8', '56', '14', '55', '12', '9', '75', '23',
       '32', '54', '13', '42', '11', '82', '33', '25', '48', '40', '24',
       '38', '37', '36', '16', '30', '43', '31', '34', '2826', '46', '18',
       '49', '15', '39', '21', '7', '19', '51', '28', '47', '69', '41',
       '20', '45', '58', '1318', '50', '78', '3623', '27'], dtype=object)

In [991]:
def clean_age(age):
    if isinstance(age, str) and len(age) > 2 and age.isdigit():
        return age[:2]
    else:
        return age
df['age'] = df['age'].apply(clean_age)
df['age'] = df['age'].replace(r'^\s*$', np.nan, regex=True)
df['age'].unique()

array(['29', '57', '68', '22', '66', '52', '26', '59', nan, '35', '17',
       '10', '53', '60', '8', '56', '14', '55', '12', '9', '75', '23',
       '32', '54', '13', '42', '11', '82', '33', '25', '48', '40', '24',
       '38', '37', '36', '16', '30', '43', '31', '34', '28', '46', '18',
       '49', '15', '39', '21', '7', '19', '51', '47', '69', '41', '20',
       '45', '58', '50', '78', '27'], dtype=object)

In [992]:
df.head()

,year,type,country,activity,name,sex,age,injury,fatal,species,activity_clean,hour,month
6,2025.0,Unknown,philippines,diving,Illia Peregudin,M,29,Serious injury,Yes,Other,diving,13:00,2.0
26,2024.0,Unprovoked,thailand,swimming,Elke Maier,F,57,No injury,No,Other,swimming,nan:00,11.0
34,2024.0,Unknown,indonesia,diving,Collen Monfore,F,68,Other,Yes,Other,diving,nan:00,9.0
74,2023.0,Unprovoked,mexico,diving,Víctor Alejandro “N”,M,22,Fatal,Yes,Other,diving,13:00,12.0
79,2023.0,Unknown,mexico,swimming,Joseph Leopold Bynens,M,66,Fatal,Yes,Other,swimming,09:00,12.0

In [993]:
columnas_ordenadas = ['year','month','hour','country','type','activity','name','sex','age','injury','fatal','species']
df = df[columnas_ordenadas]

In [994]:
df.head()

,year,month,hour,country,type,activity,name,sex,age,injury,fatal,species
6,2025.0,2.0,13:00,philippines,Unknown,diving,Illia Peregudin,M,29,Serious injury,Yes,Other
26,2024.0,11.0,nan:00,thailand,Unprovoked,swimming,Elke Maier,F,57,No injury,No,Other
34,2024.0,9.0,nan:00,indonesia,Unknown,diving,Collen Monfore,F,68,Other,Yes,Other
74,2023.0,12.0,13:00,mexico,Unprovoked,diving,Víctor Alejandro “N”,M,22,Fatal,Yes,Other
79,2023.0,12.0,09:00,mexico,Unknown,swimming,Joseph Leopold Bynens,M,66,Fatal,Yes,Other

In [995]:
df.shape

(419, 12)

In [996]:
df['year'] = df['year'].astype('Int64')
df['month'] = df['month'].astype('Int64')
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['age'] = df['age'].astype('Int64')

In [997]:
df = df.drop_duplicates()

In [998]:
df.isna().sum()

year          0
month        96
hour          0
country       0
type          2
activity      0
name         37
sex          62
age         250
injury        0
fatal        57
species       0
dtype: int64

In [999]:
df = df.drop(['name'], axis=1)

In [1000]:
df['year'] = df['year'].fillna(df['year'].mode()[0])
df['month'] = df['month'].fillna(df['month'].mode()[0])
df['country'] = df['country'].fillna('Unknown')
df['type'] = df['type'].fillna('Unknown')
df['sex'] = df['sex'].fillna('Unknown')
df['age'] = df['age'].fillna(999)
df['fatal'] = df['fatal'].fillna('Unknown')

In [1001]:
df.columns

Index(['year', 'month', 'hour', 'country', 'type', 'activity', 'sex', 'age',
       'injury', 'fatal', 'species'],
      dtype='object')

In [1002]:
#Empezamos a sacar insights
#vamos a sacar insights segun actividad:

In [1003]:
#Pero primero ¿que rangos de edad sufren más ataques?
df_clean = df[df['age'].between(5, 100)] 
df_clean['age_group'] = pd.cut(df_clean['age'], bins=[0, 20, 35, 50, 65, 100], labels=["0-20", "21-35", "36-50", "51-65", "66+"])
df['age'] = df_clean['age_group']
df_clean.groupby('age_group').size().sort_values(ascending=False)

C:\Users\rocio\AppData\Local\Temp\ipykernel_13812\3566465958.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['age_group'] = pd.cut(df_clean['age'], bins=[0, 20, 35, 50, 65, 100], labels=["0-20", "21-35", "36-50", "51-65", "66+"])
C:\Users\rocio\AppData\Local\Temp\ipykernel_13812\3566465958.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_clean.groupby('age_group').size().sort_values(ascending=False)

age_group
21-35    60
0-20     54
36-50    32
51-65    16
66+       7
dtype: int64

In [1004]:
#Actividades más peligrosas:
df.groupby('activity').size().sort_values(ascending=False)

activity
swimming    144
other        98
fishing      86
diving       40
surf         38
wreck        13
dtype: int64

In [1005]:
#¿En que otras variables esta el problema?

In [1006]:
#En que rango de edad existe mas riesgo en cada actividad.
df.groupby(['activity','age']).size().sort_values(ascending=False).head()

C:\Users\rocio\AppData\Local\Temp\ipykernel_13812\1628908118.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['activity','age']).size().sort_values(ascending=False).head()

activity  age
swimming  0-20     33
          21-35    26
diving    21-35    10
swimming  36-50    10
fishing   36-50     9
dtype: int64

In [1007]:
#Filtrando los paises en los que tenemos nuestras actividades, ¿en que actividades tenemos que incidir mas en la seguridad segun el pais?
resumen = df.groupby(['country', 'activity']).size().reset_index(name='incident_count')
resumen_ordenado = resumen.sort_values(by=['country', 'incident_count'], ascending=[True, False])
mas_peligrosa_por_pais = resumen_ordenado.groupby('country').first().reset_index()
print(mas_peligrosa_por_pais)

        country  activity  incident_count
0       croatia  swimming              15
1          cuba   fishing              16
2        greece  swimming              11
3     indonesia      surf               8
4         japan     other              16
5        mexico  swimming              44
6          peru     other               1
7   philippines     other              21
8      portugal   fishing               7
9         spain  swimming              25
10     thailand  swimming               7

In [1008]:
#Vamos a ver en general que pais de nuestras sedes es más peligroso.
df.groupby('country').size().sort_values(ascending=False).head(10)

country
mexico         106
philippines     65
cuba            49
spain           46
japan           42
croatia         35
greece          26
indonesia       26
thailand        13
portugal         9
dtype: int64

In [1009]:
#¿Existe algun riesgo dependiendo de la hora?
df.groupby('hour').size().sort_values(ascending=False).head(10)

hour
nan:00    332
10:00      11
15:00       9
14:00       9
11:00       8
17:00       7
13:00       6
12:00       6
07:00       6
16:00       5
dtype: int64

In [1010]:
#Parece que no tenemos los datos suficientes para asegurarnos ya que hay muchos que no conocemos
#pero podemos empezar a aplicar mas actividades en la tarde, a partir de las 6.

In [1011]:
#¿Hay diferencias de genero?
df.groupby('sex').size().sort_values(ascending=False)

sex
M          312
Unknown     62
F           45
dtype: int64

In [1012]:
#Parece que estos datos nos llaman la atencion, vamos a investigar un poco mas.

In [1013]:
pivot_fatalidad_1 = df.pivot_table(index='activity', columns='sex', aggfunc='size', fill_value=0)
pivot_fatalidad_1

sex        F    M  Unknown
activity
diving     2   36        2
fishing    2   65       19
other      6   63       29
surf       3   34        1
swimming  32  106        6
wreck      0    8        5

In [1014]:
pivot_fatalidad = df.pivot_table(index='activity', columns=['sex', 'fatal'], aggfunc='size', fill_value=0)
pivot_fatalidad

sex        F               M             Unknown
fatal     No Unknown Yes  No Unknown Yes      No Unknown Yes
activity
diving     0       0   2  13       6  17       1       1   0
fishing    0       0   2  38       4  23      11       2   6
other      2       0   4  17      13  33       6      15   8
surf       2       0   1  17       3  14       0       0   1
swimming  14       3  15  45       8  53       1       1   4
wreck      0       0   0   3       1   4       0       0   5

In [1015]:
#¿Hay alguna especie más involucrada?
df.groupby('species').size().sort_values(ascending=False)

species
Other          409
Bull shark       5
Tiger shark      5
dtype: int64

In [1016]:
#No tenemos los datos suficientes

In [1017]:
#¿Hay risgo en la estacionalidad?
df.groupby('month').size().sort_values(ascending=False)

month
7     147
1      44
8      43
9      31
5      25
11     25
10     22
6      21
4      20
3      17
12     16
2       8
dtype: int64

In [1018]:
df.groupby(['country', 'activity', 'month']).size().reset_index(name='incident_count').sort_values(by='incident_count', ascending=False)

      country  activity  month  incident_count
132    mexico  swimming      7              16
198     spain  swimming      7              14
6     croatia     other      7               7
113    mexico     other      7               6
11    croatia  swimming      7               6
..        ...       ...    ...             ...
81      japan     other      3               1
82      japan     other      6               1
85      japan     other     10               1
86      japan      surf      6               1
213  thailand  swimming     11               1

[214 rows x 4 columns]

In [1019]:
tabla = pivot_table_country_activity_month = df.pivot_table(
    index=['country', 'activity'],
    columns='month',
    values='year',
    aggfunc='count',
    fill_value=0
)
pivot_table_country_activity_month

month                 1   2   3   4   5   6   7   8   9   10  11  12
country     activity
croatia     fishing    1   0   0   0   0   0   3   1   0   3   1   0
            other      1   0   0   0   0   0   7   1   2   0   0   0
            swimming   1   0   0   0   0   1   6   4   3   0   0   0
cuba        diving     0   0   0   0   1   0   0   0   0   1   0   0
            fishing    5   0   1   1   2   1   2   3   0   0   1   0
            other      3   0   1   0   1   1   4   1   0   0   1   0
            surf       0   0   0   0   0   0   1   0   1   1   0   1
            swimming   5   0   0   0   0   0   4   3   0   0   1   1
            wreck      0   0   0   0   0   0   0   0   1   0   0   0
greece      diving     0   0   0   0   0   0   4   0   0   0   0   0
            fishing    0   0   0   0   0   0   1   0   0   0   0   1
            other      0   0   0   0   0   0   5   0   0   0   0   1
            surf       0   0   0   0   0   0   2   0   0   0   0   0
            swimming   1   0   0   1   0   1   5   2   1   0   0   0
            wreck      0   0   0   0   0   0   1   0   0   0   0   0
indonesia   diving     0   0   0   0   0   0   1   0   1   0   0   0
            fishing    0   0   0   0   1   0   1   0   0   0   0   0
            other      2   0   0   0   0   1   4   0   0   0   0   0
            surf       1   0   0   2   0   0   3   0   0   0   2   0
            swimming   0   0   0   0   0   0   5   0   0   0   0   0
            wreck      1   0   0   0   0   0   0   1   0   0   0   0
japan       diving     1   1   1   1   0   0   2   0   0   1   0   0
            fishing    1   0   1   0   0   1   2   1   0   0   1   0
            other      3   0   1   0   0   1   5   5   0   1   0   0
            surf       0   0   0   0   0   1   1   0   2   0   0   0
            swimming   0   0   0   0   0   0   2   2   2   0   0   0
            wreck      1   0   0   0   0   0   0   0   1   0   0   0
mexico      diving     1   0   0   0   3   2   2   3   1   2   2   2
            fishing    3   0   2   0   1   1   5   2   2   1   1   0
            other      0   0   0   0   0   1   6   0   2   1   1   0
            surf       1   1   0   3   2   1   2   0   1   0   1   1
            swimming   3   2   4   5   4   1  16   1   1   1   2   4
            wreck      0   1   0   0   0   0   0   0   0   0   0   1
peru        other      0   0   0   0   0   0   1   0   0   0   0   0
            swimming   0   0   0   0   0   0   0   0   0   1   0   0
philippines diving     1   1   0   0   0   0   0   0   0   0   0   0
            fishing    0   2   4   2   2   0   2   1   0   1   2   1
            other      0   0   0   2   2   2   4   1   2   4   3   1
            surf       0   0   0   0   0   2   1   1   0   0   0   0
            swimming   2   0   0   1   2   1   4   2   1   2   1   0
            wreck      0   0   0   0   1   0   2   0   0   0   2   0
portugal    fishing    0   0   0   0   0   1   3   1   0   1   0   1
            other      1   0   0   0   0   0   0   0   0   0   1   0
spain       diving     0   0   0   1   0   0   3   0   0   0   0   0
            fishing    0   0   1   0   0   0   3   0   2   1   0   0
            other      2   0   0   0   0   0   5   0   0   0   0   0
            surf       0   0   1   0   0   0   1   0   1   0   0   0
            swimming   1   0   0   0   1   1  14   5   2   0   0   1
thailand    diving     1   0   0   0   0   0   0   0   0   0   0   0
            fishing    0   0   0   0   0   0   0   1   0   0   0   0
            other      0   0   0   0   0   0   1   1   1   0   1   0
            swimming   1   0   0   1   2   0   1   0   1   0   1   0

In [1020]:
tabla['most_dangerous_month'] = tabla.idxmax(axis=1)
tabla['incident_count_in_that_month'] = tabla.max(axis=1)

In [1021]:
resultado = tabla[['most_dangerous_month', 'incident_count_in_that_month']]
resultado = resultado.sort_values(by='incident_count_in_that_month', ascending=False)
print(resultado)

month                 most_dangerous_month  incident_count_in_that_month
country     activity
mexico      swimming                     7                            16
spain       swimming                     7                            14
peru        swimming                    10                            10
japan       surf                         9                             9
cuba        wreck                        9                             9
thailand    fishing                      8                             8
croatia     fishing                      7                             7
spain       diving                       7                             7
japan       fishing                      7                             7
            other                        7                             7
            swimming                     7                             7
croatia     other                        7                             7
portugal    fishing                      7                             7
mexico      fishing                      7                             7
            other                        7                             7
spain       fishing                      7                             7
philippines wreck                        7                             7
peru        other                        7                             7
philippines swimming                     7                             7
japan       diving                       7                             7
indonesia   surf                         7                             7
            swimming                     7                             7
philippines other                        7                             7
indonesia   other                        7                             7
spain       other                        7                             7
indonesia   diving                       7                             7
greece      wreck                        7                             7
            swimming                     7                             7
            surf                         7                             7
            other                        7                             7
            fishing                      7                             7
            diving                       7                             7
cuba        surf                         7                             7
            other                        7                             7
thailand    other                        7                             7
croatia     swimming                     7                             7
philippines surf                         6                             6
thailand    swimming                     5                             5
mexico      diving                       5                             5
indonesia   fishing                      5                             5
cuba        swimming                     1                             5
            fishing                      1                             5
            diving                       5                             5
philippines fishing                      3                             4
mexico      surf                         4                             4
spain       surf                         3                             3
mexico      wreck                        2                             2
philippines diving                       1                             1
portugal    other                        1                             1
indonesia   wreck                        1                             1
thailand    diving                       1                             1
japan       wreck                        1                             1

In [1022]:
#Nos queda claro que julio es de los más peligrosos en casi todos los paises en los que trabajamos.

In [1024]:
df.to_excel('AquaVentura.xlsx', index=False)