## Primero instalamos el xlrd para que VSC lea el excel antiguo

In [184]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\rocio\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [185]:
import numpy as np

In [186]:
#cargamos pandas y el excel
import pandas as pd
df = pd.read_excel("GSAF5.xls", engine="xlrd")

In [187]:
pd.set_option('display.max_columns', None)

In [188]:
#tamaño
df.shape

(7012, 23)

Es un excel con 7012 filas y 23 columnas

In [189]:
#nombres de columnas
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

Tendremos que limpiar y mejorar los nombres de las columnas

In [190]:
#ver tipos de datos
df.dtypes

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Fatal Y/N          object
Time               object
Species            object
Source             object
pdf                object
href formula       object
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object
dtype: object

In [191]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,7010.0,1935.271327,271.735460,0.0,1947.0,1986.0,2009.0,2026.0
original order,6799.0,3401.152081,1963.076319,2.0,1701.5,3401.0,5100.5,6802.0

In [192]:
df.describe(include= "object")

,Date,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,Unnamed: 21,Unnamed: 22
count,7012,6994,6962,6527,6446,6427,6793,6433,4018,6977,6451,3486,3881,6993,6799,6794,6796,6798,6797,1,2
unique,6057,12,242,926,4570,1604,5742,10,249,4139,12,444,1712,5356,6789,6784,6776,6777,6775,1,2
top,1957,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,FATAL,N,Afternoon,White shark,"K. McMurray, TrackingSharks.com",1907.10.16.R-HongKong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.07.23,2012.09.02.b,stopped here,Teramo
freq,9,5170,2558,1186,191,1133,679,5624,92,863,4883,215,194,131,2,2,4,2,2,1,1

In [193]:
df.head(3)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-04-19 00:00:00,2025.0,Unprovoked,Maldives,Kulhudhuffushi City,Haa Dhaalu atoll,snorkeling,Unknown Male,M,30,Injuries to right shoulder,N,Not stated,Not stated,Todd Smith: The edition: https://en.sun.mv/96031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-04-12 00:00:00,2025.0,Unprovoked,USA,Florida,Everglades National Park Flamingo Lodge Highwa...,Undisclosed,Unknown Male,M,?,Injuries to right hand and arm,N,1500hrs,Not stated,Kevin McMurray Trackingsharks.com: Florida New...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-03-26 00:00:00,2025.0,Unprovoked,Australia,WA,Sandtrax Port Beach North Fremantle Perth,Swimming,Unknown Male,M,30+,Bumping to the body,N,1430hrs,1.5m Tiger shark,Kevin McMurray Trackingsharks.com: www.surfer....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
#ver por columnas la cantidad valores nulos
df.isna().sum()

Date                 0
Year                 2
Type                18
Country             50
State              485
Location           566
Activity           585
Name               219
Sex                579
Age               2994
Injury              35
Fatal Y/N          561
Time              3526
Species           3131
Source              19
pdf                213
href formula       218
href               216
Case Number        214
Case Number.1      215
original order     213
Unnamed: 21       7011
Unnamed: 22       7010
dtype: int64

no hay ninguna columna completamente vacia, unnamed: 21 tiene 2 y unnamed: 22 tene 3

In [195]:
#eliminar columnas completamente vacías
df.dropna(axis=1, how='all', inplace=True)

In [196]:
#eliminar filas completamente vacías
df.dropna(axis=0, how='all', inplace=True)

In [197]:
#empiezo con columnas, en str, minusculas y reemplazando espacio por _
df.columns = (df.columns.str.strip().str.lower().str.replace(" ", "_"))

In [198]:
df.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'fatal_y/n', 'time', 'species',
       'source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1',
       'original_order', 'unnamed:_21', 'unnamed:_22'],
      dtype='object')

In [199]:
df.nunique()

date              6057
year               261
type                12
country            242
state              926
location          4570
activity          1604
name              5742
sex                 10
age                249
injury            4139
fatal_y/n           12
time               444
species           1712
source            5356
pdf               6789
href_formula      6784
href              6776
case_number       6777
case_number.1     6775
original_order    6797
unnamed:_21          1
unnamed:_22          2
dtype: int64

In [200]:
df.duplicated().sum()

0

In [201]:
df.duplicated().any()

False

In [202]:
df = df.drop(['location','state','source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1', 'original_order', 'unnamed:_21', 'unnamed:_22'], axis=1)

In [203]:
df.columns

Index(['date', 'year', 'type', 'country', 'activity', 'name', 'sex', 'age',
       'injury', 'fatal_y/n', 'time', 'species'],
      dtype='object')

In [204]:
df.columns = df.columns.str.replace("fatal_y/n", "fatal")

In [205]:
df.columns

Index(['date', 'year', 'type', 'country', 'activity', 'name', 'sex', 'age',
       'injury', 'fatal', 'time', 'species'],
      dtype='object')

In [206]:
df['sex'].unique()

array(['M', 'F ', 'F', 'M ', nan, ' M', 'm', 'lli', 'M x 2', 'N', '.'],
      dtype=object)

In [207]:
#limpiando sex
df['sex'] = df['sex'].map({'F ': 'F','F': 'F', '.': "F", 'M': 'M', 'M ': 'M', ' M': 'M', 'm': 'M', 'lli': 'M', 'M x 2': 'M', 'N': 'M'})
df['sex'].unique()

array(['M', 'F', nan], dtype=object)

## Borja

In [208]:

df['country'] = df['country'].astype(str).str.strip().str.lower()

# 3. Mapeo específico para los países que aparecen en tu dataset
mapeo_paises = {
    # --- UNITED STATES ---
    'usa': 'united states',
    'hawaii': 'united states',
    'johnston island': 'united states',
    'guam': 'united states',
    'puerto rico': 'united states',
    'northern mariana islands': 'united states',
    'johnston atoll': 'united states',
    'american samoa': 'united states',

    # --- UNITED KINGDOM ---
    'england': 'united kingdom',
    'scotland': 'united kingdom',
    'british isles': 'united kingdom',
    'saint helena': 'united kingdom',
    'cayman islands': 'united kingdom',
    'turks and caicos islands': 'united kingdom',
    'british indian ocean territory': 'united kingdom',
    'british virgin islands': 'united kingdom',
    'bermuda': 'united kingdom',
    'british overseas territory': 'united kingdom',
    'falkland islands': 'united kingdom',

    # --- FRANCE ---
    'reunion': 'france',
    'reunion island': 'france',
    'new caledonia': 'france',
    'french polynesia': 'france',
    'mayotte': 'france',
    'martinique': 'france',
    'saint martin': 'france',

    # --- NETHERLANDS ---
    'aruba': 'netherlands',
    'curacao': 'netherlands',
    'netherlands antilles': 'netherlands',

    # --- PORTUGAL ---
    'azores': 'portugal',

    # --- SPAIN ---
    # (nada a mapear en este caso específico)

    # --- INDIA ---
    'andaman islands': 'india',
    'andaman / nicobar islandas': 'india',
    'indian ocean?': 'india',
    'west indies': None,  # También lo usaban para el Caribe

    # --- SRI LANKA ---
    'ceylon': 'sri lanka',
    'ceylon (sri lanka)': 'sri lanka',

    # --- SAMOA ---
    'western samoa': 'samoa',

    # --- JAPAN ---
    'okinawa': 'japan',

    # --- SOUTH KOREA ---
    'korea': 'south korea',

    # --- PALESTINE ---
    'palestinian territories': 'palestine',
    'palestine': 'palestine',

    # --- BRAZIL ---
    # (nada a mapear)

    # --- COLOMBIA ---
    'columbia': 'colombia',

    # --- TRINIDAD & TOBAGO ---
    'trinidad': 'trinidad and tobago',
    'tobago': 'trinidad and tobago',
    'trinidad & tobago': 'trinidad and tobago',

    # --- HONDURAS ---
    'roatan': 'honduras',

    # --- CABO VERDE ---
    'cape verde': 'cabo verde',

    # --- MYANMAR ---
    'burma': 'myanmar',

    # --- BAHRAIN ---
    'bahrein': 'bahrain',

    # --- MICRONESIA ---
    'federated states of micronesia': 'micronesia',

    # --- PAPUA NEW GUINEA ---
    'new britain': 'papua new guinea',
    'admiralty islands': 'papua new guinea',
    'british new guinea': 'papua new guinea',
    'new guinea': 'papua new guinea',

    # --- GREECE ---
    'crete': 'greece',

    # --- DENMARK ---
    'greenland': 'denmark',

    # --- CHINA ---
    'hong kong': 'china',

    # --- OCEAN / REGIONES MARÍTIMAS AMBIGUAS --- (todo esto se convierte en None)
    'pacific ocean': None,
    'atlantic ocean': None,
    'caribbean sea': None,
    'coral sea': None,
    'tasman sea': None,
    'north atlantic ocean': None,
    'north sea': None,
    'south china sea': None,
    'mid-pacifc ocean': None,
    'mid atlantic ocean': None,
    'mediterranean sea': None,
    'gulf of aden': None,
    'bay of bengal': None,
    'persian gulf': None,
    'red sea': None,
    'red sea?': None,
    'indian ocean': None,
    'indian ocean?': None,
    'south atlantic ocean': None,
    'south pacific ocean': None,
    'north pacific ocean': None,
    'central pacific': None,
    'southwest pacific ocean': None,

    # --- REGIONES GEOGRÁFICAS INDEFINIDAS ---
    'coast of africa': None,
    'africa': None,
    'the balkans': None,
    'ocean': None,
    'between portugal & india': None,
    'british west indies': None,
    'asia?': None,
    'equatorial guinea / cameroon': None,
    'egypt / israel': None,
    'iran / iraq': None,
    'italy / croatia': None,
    'solomon islands / vanuatu': None,

    # --- ISLAS O TERRITORIOS MENORES (claros) ---
    'cook islands': 'new zealand',
    'cook island': None,  # Dato suelto o error tipográfico

    # --- NULOS / INDETERMINADOS ---
    'nan': None,
    None: None,
    'maldive islands': 'maldives',
    'turks and caicos': 'turks and caicos islands',
    'turks & caicos': 'turks and caicos islands',
    'united arab emirates (uae)': 'united arab emirates',
    'st martin': 'saint martin',
    'st. martin': 'saint martin',
    'st. maartin': 'saint martin',
    'grand cayman': 'cayman islands',
    'nevis': 'saint kitts and nevis',
    'st kitts / nevis': 'saint kitts and nevis',
    'diego garcia': 'british indian ocean territory',
    'java': 'indonesia',
    'san domingo': 'dominican republic',

    # Marinos o ambiguos que deben descartarse
    'northern arabian sea': None,
    'red sea / indian ocean': None,
    'sudan?': 'sudan' 
}

# 4. Aplicar el mapeo
df['country'] = df['country'].replace(mapeo_paises)

In [209]:
df['country'].unique()

array(['maldives', 'united states', 'australia', 'philippines', 'bahamas',
       'turks and caicos islands', 'mozambique', 'france', 'egypt',
       'thailand', 'new zealand', 'honduras', 'indonesia', 'morocco',
       'jamaica', 'belize', 'trinidad and tobago', 'india',
       'south africa', 'mexico', None, 'spain', 'portugal', 'samoa',
       'colombia', 'ecuador', 'cuba', 'brazil', 'seychelles', 'argentina',
       'fiji', 'united kingdom', 'japan', 'costa rica', 'canada',
       'jordan', 'saint kitts and nevis', 'saint martin',
       'papua new guinea', 'israel', 'china', 'ireland', 'italy',
       'malaysia', 'libya', 'mauritius', 'solomon islands',
       'st helena, british overseas territory', 'comoros',
       'united arab emirates', 'cabo verde', 'dominican republic',
       'netherlands', 'greece', 'kiribati',
       'british indian ocean territory', 'taiwan', 'palestine', 'nigeria',
       'tonga', 'croatia', 'saudi arabia', 'chile', 'antigua', 'kenya',
       'russia', 'south korea', 'malta', 'vietnam', 'madagascar',
       'panama', 'somalia', 'norway', 'senegal', 'yemen', 'sierra leone',
       'cayman islands', 'liberia', 'vanuatu', 'venezuela', 'sri lanka',
       'uruguay', 'micronesia', 'tanzania', 'marshall islands',
       'el salvador', 'angola', 'montenegro', 'iran', 'tunisia',
       'namibia', 'bangladesh', 'palau', 'grenada', 'iraq', 'turkey',
       'singapore', 'sudan', 'nicaragua', 'gabon', 'guatemala',
       'slovenia', 'iceland', 'barbados', 'monaco', 'guyana', 'haiti',
       'kuwait', 'cyprus', 'myanmar', 'lebanon', 'paraguay', 'georgia',
       'syria', 'tuvalu', 'guinea', 'peru', 'algeria', 'ghana', 'denmark',
       'sweden', 'djibouti', 'bahrain'], dtype=object)

In [210]:
#limpiando activity, todas sean str, sin espacios y en minusculas
df['activity'] = df['activity'].astype(str).str.strip().str.lower()
df['activity'].nunique()

1544

In [211]:
#limpiando injury, todas sean str, sin espacios y en minusculas
df['injury'] = df['injury'].astype(str).str.strip().str.lower()
df['injury'].nunique()

4048

In [213]:
def categorize_injury(injury):
    if pd.isna(injury):
        return 'Unknown'

    injury = injury.lower()

    if 'fatal' in injury or 'died' in injury or 'death' in injury:
        return 'Fatal'
    elif 'serious' in injury or 'severed' in injury or 'critical' in injury:
        return 'Serious injury'
    elif 'no injury' in injury or 'uninjured' in injury or 'not injured' in injury or 'no' in injury:
        return 'No injury'
    elif 'minor' in injury or 'superficial' in injury or 'lower' in injury:
        return 'Minor injury'
    elif 'leg' in injury or 'foot' in injury or 'thigh' in injury or 'ankle' in injury or 'calf' in injury:
        return 'Injury to the lower trunk'
    elif 'arm' in injury or 'hand' in injury:
        return 'Injury to the upper trunk'
    elif 'lacerations' in injury or 'lacerated' in injury or 'laceration' in injury:
        return 'Laceration'
    elif 'injury' in injury or 'bitten' in injury:
        return 'Unknown type of injury'
    elif 'unknown' in injury or 'n/a' in injury:
        return 'Unknown'
    else:
        return 'Other'

df['injury'] = df['injury'].apply(categorize_injury)

In [ ]:
#limpiando fatal, todas sean str, sin espacios y en mayusculas
df['fatal'] = df['fatal'].astype(str).str.strip().str.upper()
#tambien uso map para cambiar las Y a YES y N a NO
df['fatal'] = df['fatal'].map({'Y': 'Yes', 'N': 'No',})
df['fatal'].unique()

array(['No', 'Yes', nan], dtype=object)

In [ ]:
#asegurarse de que todos los valores sean strings limpios
df['time'] = df['time'].astype(str).str.strip().str.upper()

#extraer solo la hora (antes de los dos puntos) o primeros 2 dígitos si es un número tipo "1530"
df['hour'] = df['time'].str.extract(r'(\d{1,2})')  # extrae 1 o 2 dígitos iniciales

#ver distribución de horas
df['hour'].value_counts().sort_index()

hour
00      1
01      8
02      9
03     11
04      6
05     12
06     50
07    106
08    121
09    146
10    225
11    306
12    233
13    244
14    274
15    278
16    296
17    232
18    144
19     62
2       2
20     39
21      6
22      6
23      9
30      1
8       1
9       3
Name: count, dtype: int64

In [ ]:
# Primero aseguramos que hour es string (en caso de haberlo convertido antes a int)
df['hour'] = df['hour'].astype(str).str.zfill(2)  # asegura dos dígitos (por ejemplo, 3 → '03')

# Luego creamos una nueva columna en formato HH:00
df['hour_formatted'] = df['hour'] + ':00'

In [ ]:
df['hour_formatted'].value_counts().sort_index()

hour_formatted
00:00        1
01:00        8
02:00       11
03:00       11
04:00        6
05:00       12
06:00       50
07:00      106
08:00      122
09:00      149
10:00      225
11:00      306
12:00      233
13:00      244
14:00      274
15:00      278
16:00      296
17:00      232
18:00      144
19:00       62
20:00       39
21:00        6
22:00        6
23:00        9
30:00        1
nan:00    4181
Name: count, dtype: int64

In [ ]:
df['hour'] = df['hour_formatted']

In [ ]:
df = df.drop(['hour_formatted','time'], axis=1)

## Rocio

In [ ]:
def limpiar_fechas(df):
    df['date'] = pd.to_datetime(df['date'], errors='coerce')
    df['month'] = df['date'].dt.month
    df['year_from_date'] = df['date'].dt.year
    df['year'] = df['year'].fillna(df['year_from_date'])
    df = df.drop(columns=['date', 'year_from_date'])

    return df
df=limpiar_fechas(df)

In [ ]:
df.columns

Index(['year', 'type', 'country', 'activity', 'name', 'sex', 'age', 'injury',
       'fatal', 'species', 'injury_category', 'hour', 'month'],
      dtype='object')

In [ ]:
type_r = {
    ' Provoked': 'Provoked',
    'Questionable': 'Unknown',
    '?': 'Unknown',
    'Unconfirmed': 'Unknown',
    'Unverified': 'Unknown',
    'Invalid': 'Unknown',
    'Under investigation': 'Unknown',
    'Boat': 'Watercraft',
    'Sea Disaster': 'Watercraft'  
}

df['type'] = df['type'].replace(type_r)
print(df['type'].unique())

['Unprovoked' 'Unknown' 'Provoked' 'Watercraft' nan]

In [ ]:
df['species'] = df['species'].str.lower().str.strip()


species_r = {
    'tiger shark': 'Tiger shark',
    "1.5m tiger shark": 'Tiger shark',
    "12' tiger shark": 'Tiger shark',
    'great white shark': 'Great white shark',
    'bull shark': 'Bull shark'
}

df['species'] = df['species'].replace(species_r)


new_species = []

for value in df['species']:
    if value == 'Tiger shark':
        new_species.append('Tiger shark')
    elif value == 'Great white shark':
        new_species.append('Great white shark')
    elif value == 'Bull shark':
        new_species.append('Bull shark')
    else:
        new_species.append('Other')


df['species'] = new_species


df['species'].unique()

array(['Other', 'Tiger shark', 'Great white shark', 'Bull shark'],
      dtype=object)

In [ ]:
df['age'] = df['age'].astype(str).str.strip()
df['age'] = df['age'].str.replace(r'[^\d]', '', regex=True)
df['age'].unique()

array(['30', '', '37', '56', '40', '29', '35', '58', '24', '20', '55',
       '17', '12', '36', '23', '28', '69', '48', '60', '57', '45', '61',
       '27', '38', '16', '68', '33', '15', '41', '14', '26', '18', '21',
       '49', '25', '46', '19', '65', '64', '13', '11', '32', '10', '62',
       '39', '22', '66', '52', '44', '47', '59', '8', '50', '34', '9',
       '2030', '77', '42', '2', '73', '67', '6', '53', '43', '51', '31',
       '7', '71', '54', '75', '4515', '70', '4', '63', '2822', '225731',
       '74', '960', '3', '82', '72', '2826', '5', '86', '1820', '1213',
       '4634', '282330', '3626', '810', '84', '3036', '3337', '2320',
       '731', '3230', '1618', '87', '2126', '1822', '912', '2535', '2326',
       '1', '2528', '3767352727', '21342435', '3032', '5030', '1735',
       '1318', '3419', '3326', '81', '78', '1716', '910', '3623', '1012',
       '3133', '1314'], dtype=object)

In [ ]:
def clean_age(age):
    if isinstance(age, str) and len(age) > 2 and age.isdigit():
        return age[:2]
    else:
        return age
df['age'] = df['age'].apply(clean_age)
df['age'] = df['age'].replace(r'^\s*$', np.nan, regex=True)
df['age'].unique()

array(['30', nan, '37', '56', '40', '29', '35', '58', '24', '20', '55',
       '17', '12', '36', '23', '28', '69', '48', '60', '57', '45', '61',
       '27', '38', '16', '68', '33', '15', '41', '14', '26', '18', '21',
       '49', '25', '46', '19', '65', '64', '13', '11', '32', '10', '62',
       '39', '22', '66', '52', '44', '47', '59', '8', '50', '34', '9',
       '77', '42', '2', '73', '67', '6', '53', '43', '51', '31', '7',
       '71', '54', '75', '70', '4', '63', '74', '96', '3', '82', '72',
       '5', '86', '81', '84', '87', '91', '1', '78'], dtype=object)

In [ ]:
df.head()

,year,type,country,activity,name,sex,age,injury,fatal,species,injury_category,hour,month
0,2025.0,Unprovoked,maldives,snorkeling,Unknown Male,M,30,injuries to right shoulder,No,Other,Other,nan:00,4.0
1,2025.0,Unprovoked,united states,undisclosed,Unknown Male,M,NaN,injuries to right hand and arm,No,Other,Injury to the upper trunk,15:00,4.0
2,2025.0,Unprovoked,australia,swimming,Unknown Male,M,30,bumping to the body,No,Tiger shark,Other,14:00,3.0
3,2025.0,Unprovoked,australia,surfing,Steven Jeffrey Payne,M,37,missing body not recovered,Yes,Great white shark,No injury,12:00,3.0
4,2025.0,Unprovoked,australia,swimming,Mangyong Zhang,F,56,serious lacerations above right knee.,No,Bull shark,Serious injury,13:00,3.0

In [ ]:
columnas_ordenadas = ['year','month','hour','country','type','activity','name','sex','age','injury','fatal','species']
df = df[columnas_ordenadas]

In [ ]:
df.head()

,year,month,hour,country,type,activity,name,sex,age,injury,fatal,species
0,2025.0,4.0,nan:00,maldives,Unprovoked,snorkeling,Unknown Male,M,30,injuries to right shoulder,No,Other
1,2025.0,4.0,15:00,united states,Unprovoked,undisclosed,Unknown Male,M,NaN,injuries to right hand and arm,No,Other
2,2025.0,3.0,14:00,australia,Unprovoked,swimming,Unknown Male,M,30,bumping to the body,No,Tiger shark
3,2025.0,3.0,12:00,australia,Unprovoked,surfing,Steven Jeffrey Payne,M,37,missing body not recovered,Yes,Great white shark
4,2025.0,3.0,13:00,australia,Unprovoked,swimming,Mangyong Zhang,F,56,serious lacerations above right knee.,No,Bull shark

In [ ]:
df.shape

(7012, 12)